<!-- Default home page -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script>
  var ip = 
</script>

<h1>Server Info</h1>
<ul class="list-group">
  <li class="list-group-item"><strong>Host:</strong> <%= req.host %></li>
  <li class="list-group-item"><strong>IP:</strong> <%= req.ip %></li>
  <li class="list-group-item"><strong>Cookies:</strong>
    <ul>
      <% Object.keys(req.cookies).forEach(function(key){ %>
        <li><%= key %> : <%= req.cookies[key] %></li>
      <% }) %>
    </ul>
    <ul>
      <% Object.keys(req.signedCookies).forEach(function(key){ %>
        <li><%= key %> : <%= req.signedCookies[key] %></li>
      <% }) %>
    </ul>    
  </li>
</ul>